<div class="background_notes" style="text-align: center;">
    <h1>Planner</h1>
    <table style="display: inline-block;">
        <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Target time</th>
        <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let note of notes">
                <td>{{note.title}}</td>
                <td>{{note.description}}</td>
                <td>{{note.targetTime}}</td>
                <td><button (click)="editNote(note)">Edit</button></td>
            </tr>
        </tbody>

    </table>

    <button (click)="initNewNote()" style="text-align: right;">Create New Note</button>
    <app-edit-note [note]="noteToEdit"
                   (notesUpdated)="updateNoteList($event)">
    </app-edit-note>
</div>
